<b>{{story_title}}</b>

{{{story_content}}}
<a href="{{story_url}}">Read More</a>
{{#each side_stories}}
***

{{side_story_emoji}} <b>{{side_story_title}}</b> — <a href="{{side_story_url}}">{{side_story_source}}</a>

{{{side_story_content}}}
{{/each}}
<i>{{story_date}}</i>

